--extra-index-url https://download.pytorch.org/whl/cu124

fastapi
uvicorn
pydantic
pandas
numpy
scikit-learn
joblib
networkx
node2vec
gensim
ollama

# PyTorch with CUDA 12.4 Support
torch
torchvision
torchaudio
